.wall{    
    margin: auto;
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 300px;display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
span.brand {
    position: absolute;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    opacity: 0.7;
    font-style: oblique;
    top: 10%;
}
.clock-face{
    border: 5px solid rgb(44, 248, 3);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: relative;
}

.hands{
    width: 50%;
    height: 6px;
    position: absolute;
    top: 50%;
    background-color: rgb(255, 255, 255);
    transform-origin: 100%;
    transition-delay: 0.05s;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.6, -0.46, 0.77, 2.29);
}
